@font-face {
    font-family:vazir;
    src: url(../font/Vazirmatn-Regular.ttf);
}
body{
    font-family: vazir;
    font-size: 16px
}
.signin-form{
    max-width: 500px;
    margin: 0px auto;
    
}
#signin-logo{
    width: 150px;
    height: auto;
    margin:0px auto;

}
.signin-body{
    border: 2px solid #D5D5D5;
    border-radius: 10px;
}
.form-group{
    position: relative;
}

.signin-body input{
    background: transparent;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    transition: all .8s ease;
  }
  
.signin-body .label{
    color: #4c4c4c;
    position: absolute;
    top: 50%;
    left: auto;
    right: 5px;
    transform: translateY(-50%);
    transition: all .8s ease;
  }
  
.input-field:focus ~ .label{
    top: 0;
    left: 0;
    color: rgb(160, 75, 75);
    transform: translateY(-50%);
    font-size: .8em;
}
.continue-btn{
    margin-top: 70px;
    background-color: #FF4A4D;
    border-radius: 8px;
    font-weight: bold;

}
.register-btn{
    border: 2px solid #D5D5D5;
    font-weight: bold;
    margin-top: 0px;
    border-radius: 10px;
}
.register-btn:hover{
    background-color:rgb(169, 168, 168) ;
    color: whitesmoke;
}
.line-text{
    text-align: center;
    position: relative;
    margin-top: 15px;
    font-size: 18px;
}
.line-text:before , .line-text:after{
    content: '';
    position: absolute;
    top: 50%;
    width: 35%;
    height: 1px;
    background-color: #D5D5D5;
}
.line-text:before{
    right: 60%;
    margin-right: 10px;
}
.line-text:after{
    left: 60%;
    margin-left: 10px;
}
.rules{
    margin: 30px 2px;
    font-size: 13px;
    font-weight: bold;
}
.line1{
    width: 100%;
    color: black;
}